NODE_ENV=development
PORT=4000

# PostgreSQL
PGHOST=localhost
PGPORT=5432
PGUSER=postgres
PGPASSWORD=postgres
PG_DATABASE=money_tracker

# CORS
CLIENT_URL=http://localhost:3000

# JWT
JWT_ACCESS_SECRET=cambia_esto_access_secret_largo
JWT_REFRESH_SECRET=cambia_esto_refresh_secret_largo
ACCESS_TOKEN_MINUTES=15
REFRESH_TOKEN_HOURS=9
SESSION_IDLE_HOURS=3